svg {
	position: absolute;
	z-index: -1;
}

.container-main{
	height: 100%;
	padding-top: 50px;
	width: 90%;
  	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
}

.container-text {
	position: relative;
	padding: 40px;
}

.container {
	position: relative;
	z-index: 2;
	padding: 0 20px;
}

.text-bg {
	position: absolute;
	background-color: rgba(48, 46, 189, 0.71);
    border-radius: 10px 0 0 10px;
	top: 0;
	height: 100%;
	width: 100%;
	padding-right: 500%;
	z-index: 1;
	overflow-x: hidden;
}

@media all and (max-width: 983px){
	.container-main{
		width: 100%;
	}

	.container-text {
		padding-left: 0;
		padding-right: 0;
	}

	.text-bg {
		border-radius: 0;
	}
}

@media all and (max-width: 700px){
	.container-main h1:not(.countdown h1), .container-main h2:not(.countdown h2, .firms-info h2), .container-main h3:not(.countdown h3){
		font-size: 80%;
	}

	.container-main{
		margin: 0;
	}
}