@font-face{
	src: url(./fonts/Gilroy-Light.otf);
	font-family: GilroyL;
}

@font-face{
	src: url(./fonts/Gilroy-ExtraBold.otf);
	font-family: GilroyEB;
}

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: #1b0b64;
}

h1, h2, h3 {
	margin: 0;
	color: white;
}

a{
	padding-left: 10px;
}

h1 {
	font-family: GilroyEB;
	font-weight: 1000;
	line-height: 90%;
	font-size: 100px;
}

h2 {
	font-family: GilroyEB;
	font-size: 35px;
}

h3 {
	font-family: GilroyL;
	font-size: 18px;
	font-weight: normal;
}

@media all and (max-width: 700px){
	h1 {
		font-size: 100px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 14px;
	}
}
